* {
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    height: 73px;
    width: 100%;
    background-color: #18181c;
}

.intro .log1,
.log2,
.log3,
.log4 {
    width: 27px;
    cursor: pointer;
}

.imagelogo {
    display: flex;
    height: 72px;
    width: 146px;
    justify-content: space-between;
    margin-left: 27px;
}

.homesection,
ul {
    display: flex;
    list-style: none;
    /* gap: 35px; */
}

.header ul li span a:hover {
    padding: 3px 8px 3px 8px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.689);
    background-color: rgba(255, 255, 255, 0.13);
    transition: all 0.2s ease-out;
}

.header ul li span a {
    font-family: system-ui;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.689);
    margin-left: 25px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header {
    margin-left: 23px;
    display: flex;
    height: 74px;
    width: 893px;
}

.search {
    height: 73px;
    width: 404px;
}

.svg {
    height: 73px;
    width: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search .svg button {
    margin-left: 54px;
    padding: 10px;
    background-color: #26b7f9;
    border-radius: 9px;
    border: 0px solid #26b7f9;
    cursor: pointer;
    font-family: system-ui;
    font-weight: 500;

}

.search .svg button:hover {
    box-shadow: 0px 1px 20px 0px #26b7f9;
    transition: all 0.4s ease-out;
    background-image: url(assets/image/Riders\ Republic.mp4);
}

.home {
    position: relative;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}

.home-content {
    position: relative;
    color: #fff;
    z-index: 3;
}

.text {
    width: auto;
    height: 729px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


.text .rgb .glow-two {
    font-size: 4em;
}

.working {
    display: flex;
    justify-content: space-around;
    border: 3px solid #ffffff6b;
    margin-top: 7px;
    background-color: #00000057;
}

.text .rgb .span1:hover {
    color: red;
    text-shadow: 0 0 30px rgb(255, 0, 0);
    transition: all 1s ease-out;
    cursor: pointer;
}

.text .rgb .span2:hover {
    cursor: pointer;
    color: rgb(38, 0, 250);
    text-shadow: 0 0 30px rgb(38, 0, 250);
    transition: all 1s ease-out;
}

.text .rgb .span3:hover {
    cursor: pointer;
    color: rgb(0, 255, 38);
    text-shadow: 0 0 30px rgb(0, 255, 38);
    transition: all 1s ease-out;
}

.text .rgb .span4:hover {
    color: red;
    text-shadow: 0 0 30px rgb(255, 0, 0);
    transition: all 1s ease-out;
    cursor: pointer;
}

.text .rgb .span5:hover {
    cursor: pointer;
    color: rgb(38, 0, 250);
    text-shadow: 0 0 30px rgb(38, 0, 250);
    transition: all 1s ease-out;
}

.line {
    height: 10px;
    width: 10px;
    background-color: white;
}

.text .rgb .span6:hover {
    cursor: pointer;
    color: rgb(0, 255, 38);
    text-shadow: 0 0 30px rgb(0, 255, 38);
    transition: all 1s ease-out;
}

.rgb button {
    margin: 10px;
    margin-left: 429px;
    padding: 13px 32px;
    border-radius: 5px;
    border: 0px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ffeb3bd1;
}

.rgb button:hover {
    background-color: #ffffff;
    transition: all 0.5s ease-out;

}

.card-container {
    -webkit-perspective: 500px;
    perspective: 500px;
}

.card-container:hover .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*Custom Styles*/
.cards-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.front,
.back {
    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

img {
    display: block;
}

.sticker {
    text-align: center;
    font-family: sans-serif;
    font-size: 44px;
    background-color: #18181c;
    height: 286px;
}

.sticker h1 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(195, 195, 195);
    font-size: 54px;
    margin: 10px;
}

.about {
    background-image: url(assets/image/games.jpg);
    height: 558px;
    width: 100%;
}

.over {
    height: 558px;
    width: 100%;
    background-color: #000000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;

}

.over div:nth-child(1) {
    height: 413px;
    width: 362px;
    font-family: cursive;
    display: flex;
    justify-content: end;
    font-size: 83px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.774);

}

.over div:nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.758);
    height: 413px;
    width: 817px;
    font-size: 30px;
}

.over div span p {
    text-align: justify;
}

.offer {
    height: 558px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.463);
}

.card {
    height: 120px;
    width: 120px;
    background-color: rgba(0, 0, 255, 0.51);
}

.purches {
    background-image: url("assets/image/bgMain_68.jpeg");
    width: 1519px;
    height: 771px;
}

.subimage {
    background-image: url(assets/image/NavBG.png);
    opacity: 0.6;
    width: 1519px;
    height: 229px;
    display: flex;
    justify-content: center;
    background-size: 122px;
}

.center {
    width: 1519px;
    height: 885px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 150px;
}

.one {
    height: 461px;
    width: 493px;
}

.two {
    height: 435px;
    width: 485px;
    background-image: url(assets/image/TextGrunge.png);
    background-size: 468px;
    background-repeat: no-repeat;
}

.two span h1 {
    padding-left: 166px;
    padding-top: 37px;
    font-weight: 600;
    font-size: revert-layer;
    font-family: sans-serif;
    color: white;
}

.two .span-two {
    color: white;
    font-family: sans-serif;
    padding-left: 92px;
}

.center .one img {
    display: block;
    margin: auto;
}

.selection select {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 204px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00fcff;
    margin-top: 19px;
    transition: all 0.5s ease-out;
    font-family: system-ui;
    cursor: pointer;
}

.selection button {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px 204px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ed8322;
    color: white;
    margin-top: 19px;
    transition: all 0.5s ease-out;
    font-family: system-ui;
}

.selection button:hover {
    background-color: #00fcff;
    color: black;
}

footer {
    background-image: url(assets/image/skate-hero.1920w.png);
    width: 100%;
    height: 435px;
    background-size: contain;
    background-repeat: no-repeat;
}

.community {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 435px;
    width: 730px;
}

.join {
    height: 245px;
    width: 535px;
}

.join h1 {
    color: rgb(0, 0, 0);
    font-family: serif;
    margin: 12px;
    font-size: 56px;
}

.join .p {
    font-size: 26px;
    margin: 12px;
    color: rgb(0, 0, 0);
    font-family: serif;
}

.join button {
    padding: 11px 53px;
    border-radius: 7px;
    margin-left: 12px;
    font-size: larger;
    font-weight: 900;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 0px;
}

.join button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 0.4s ease-out;
}

.last {
    height: 420px;
    width: 100%;
    background-color: #252525;
}

.last .section {
    margin: auto;
    height: 420px;
    max-width: 1203px;
    /* background-color: #de2222; */
}

.last .section .convert {
    margin: auto;
    height: 101px;
    max-width: 1203px;
    /* background-color: #4422de; */
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.last .section .convert span {
    font-size: x-large;
    font-family: serif;
    color: white;
}

.order {
    margin: auto;
    max-width: 1203px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 37px;
}

.ul-one {
    color: rgba(255, 255, 255, 0.723);
    gap: 33px;
    font-family: sans-serif;
}

.ul-two {
    filter: invert(10);
    color: rgba(255, 255, 255, 0.723);
    gap: 30px;
    font-family: sans-serif;
}

.ul-one a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.723);
}

.ul-one a:hover {
    color: #ff7b00;
}

.section .seperator {
    height: 10px;
    width: 100%;
    margin-top: 50px;
    background-color: #ffffffc2;
}

.last-one {
    display: flex;
    justify-content: space-between;
    height: 145px;
    width: 100%;
    margin-top: 50px;
}

.last-one-social {
    gap: 13px;
}

.order .ul-two li a img{
    width: 32px;
}
.order .ul-two li a .f:hover{
    width: 35px;
}